.left-column{
    .menu{
        list-style-type: none;
    }

    .menu-item{
        padding: 0;

        a{
            text-decoration: none;
            color: $txtWhite;
            padding-left: 1em;

            &:hover{
                background-color: darken($logoColorTransp, 15%);
            }
        }
    }
}

.menu-icon__bar{
    background-color: $txtWhite;
    border-radius: 5px;
}
