.header__wrapper{
    height: 3em;
    position: fixed;
    z-index: 30;
}

.header{
    width: 96%;
    margin: 0 auto;
}

.site__header{
    margin: 0;
    display: inline-block;
}

.site__logo{
    width: 2em;
    margin-right: 1em;
}

.site__title{
    font-size: 1.45em;
    font-weight: bold;
    padding: 0.6em 0;
}

.site__subtitle{
    font-size: 0.5em;
    margin-left: 0.5em;
}

.top__menu__list{
	position: absolute;
	right: 2%;
	top: 0;
	margin: 0 1em 0 0;
	padding: 0;
    display: inline-table;
}

.top__menu__list:after{
    content: "";
    display: block;
    clear: both;
}

.top__menu__list a{
    font-size: 1.15em;
	display: inline-block;
	padding: 0.6em 0.75em;
    
    &:hover{
        z-index: 99;
    }
}

.top__menu__list__item{
	display: inline-block;
    float: left;
}

.top__menu__underlist{
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
}

.top__menu__list__item:hover > .top__menu__underlist{
    display: block;
}

.top__menu__list__item:last-child:hover > .top__menu__underlist{
    display: block;
    right: 0;
}

.top__menu__underlist__item{
    float: none;
    position: relative;
    padding: 0.6em 0.75em;
}

.top__menu__underlist a{
    padding: 0.6em 0.75em;
    
    &:hover{
        z-index: 99;
    }
}