/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1399px) {
    .sidebar{
        display: none !important;
    }
}

/* Tablets, desktops and laptops ----------- */
@media only screen and (min-width : 1400px) {

    .left-column{
        .menu{
            display: block;
            position: relative;
            padding: 0;
            margin-top: 0;
            font-size: 1em;
        }

        .menu-item{
            padding: 0;
            display: block;
            position: relative;

            a{
                display: block;
                position: relative;
                padding: 0.5em 0;
            }
        }
    }
}
