/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1399px) {
    .main__page__title{
        margin: 0 auto;
        display: block;
        width: 100%;
    }

    .illu__text-title, .illu .media, .illu__text{
        width: 80%;
        text-align: center;
        margin: 1em auto;
    }

    .main__content{
        width: 80%;
        min-height: 12em;
        padding: 0;
        margin: 1em auto;
    }
}

/* Tablets, desktops and laptops ----------- */
@media only screen and (min-width : 1400px) {
    .main__page__title{
        margin: 0 0 3em 0;
    }

    .illu__text-title, .illu .media, .illu__text{
        width: 70%;
    }

    .illu .media{
        top: 8em;
        margin: 0 5em 0 auto;
    }

    .illu__text{
        top: 2em;
        margin: 0 2em 0 auto;
    }

    .illu__text-title{
        top: 5em;
        margin: 0 5em 0 auto;
    }

    .main__content{
        width: 70%;
        min-height: 12em;
        padding: 1em;
        margin: 0 4em 0 auto;
    }
}

.main__page__title{
    font-size: 2.5em;
}

.illu{
    width: 100%;
    height: 30em;
    position: relative;
    padding-top: 2em;
}

.illu__text-title, .illu .media, .illu__text{
    position: relative;
    width: 70%;
}

.illu-common{
    height: 10em;
    margin-bottom: 1em;
    .illu__text{
        font-size: 2em;
    }
}

.illu__text-title, .illu__text-contact{
    font-size: 1.15em;
}

.news{
    width: 100%;
    padding: 0;
}

.news__list{
    padding-left: 1em;
    margin: 0;
}

.news__list__item{
    margin-bottom: 0.5em;
    &:last-child{
        margin-bottom: 0;
    }
}

.news__list__item>p{
    margin: 0;
    padding: 0;
}

.content-preview{
    display: inline-block;
    padding: 0 1em 1em 1em;
    font-size: 0.85em;
}

.content-preview__list{
    padding-left: 1em;
    margin: 0;
}

.content-preview__list__item{
    margin-bottom: 0.5em;
    &:last-child{
        margin-bottom: 0;
    }
}
