.left-column{
    .menu{
        display: block;
        position: relative;
        padding: 0;
        margin-top: 0;
        font-size: 1em;
    }

    .menu-item{
        padding: 0;
        display: block;
        position: relative;

        a{
            display: block;
            position: relative;
            padding: 0.5em 0;
        }
    }
}