/*--------- TOOLS : Colors ---------*/

$bgBlack : rgba(27, 27, 27, 1);
$bgWhite : rgba(247, 247, 247, 1);

$txtWhite : rgba(247, 247, 247, 1);
$txtBlack : rgba(27, 27, 27, 1);

$shadowLightBlack : rgba(0, 0, 0, 0.3);
$shadowMidBlack : rgba(0, 0, 0, 0.5);
$shadowHeavyBlack : rgba(0, 0, 0, 0.8);

$shadowLightWhite : rgba(255, 255, 255, 0.3);
$shadowMidWhite : rgba(255, 255, 255, 0.5);
$shadowHeavyWhite : rgba(255, 255, 255, 0.8);

//$logoColor : rgb(85,64,156);
/*
$logoColor: rgb(147, 161, 180);
$logoColorTransp: rgba(147, 161, 180, 0.8);
*/
$logoColor: rgb(255, 126, 0);
$logoColorTransp: rgba(255, 126, 0, 0.8);

$bgYellow: rgba(255, 226, 108, 1);